.footer-area {
    position: relative;
    display: block;
    padding-top: 120px;
    z-index: 1;
}
.footer-area .footer-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}


.footer {
    position: relative;
    display: block;
    padding: 0 0px 110px;
}
.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.footer-logo .logo{
    position: relative;
}
.logo img{
    width: 100px;
}
.footer-logo .copy-right {
    border-left: 2px solid #322b6d;
    padding-left: 20px;
    margin-left: 20px;
}
.footer-logo .copy-right p {
    color: #8689b3;
    font-size: 14px;
    line-height: 23px;
    margin: 0;
}
.footer-logo .copy-right h4 {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin: 3px 0 0;
}


.footer-menu {
    position: relative;
    display: block;
    text-align: center;
    border-top: 2px solid #343763;
    border-bottom: 2px solid #343763;
    padding: 35px 0;
    margin-bottom: 200px;
}

.footer-menu ul li{
    display: inline-block;
}
.footer-menu ul li+li{
    margin-left: 75px;
}
.footer-menu ul li a{
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    transition: all 500ms ease;
}

.footer-contact-info {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.footer-contact-info .single-box {
    display: flex;
    flex-direction: row;
}
.footer-contact-info .single-box+.single-box{
    margin-left: 50px;
}
.footer-contact-info .single-box .icon {
    position: relative;
    top: 8px;
    display: block;
    height: 30px;
    width: 30px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
}
.footer-contact-info .single-box .icon span {
    position: relative;
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
}

.footer-contact-info .single-box .title{
    margin-left: 15px;
}
.footer-contact-info .single-box .title span {
    color: #8285ab;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}
.footer-contact-info .single-box .title h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 4px;
}
.footer-contact-info .single-box .title h3 a{
    color: #000000;
}


.footer-social-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}
.footer-social-info a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: #3b5999;
    color: #ffffff;
    border-radius: 10px;
}
.footer-social-info a.fb-clr{
    background: #3b5999;
}
.footer-social-info a.tw-clr{
    background: #55acee;
}
.footer-social-info a.you-clr{
    background: #cd201f;
}
.footer-social-info a.sk-clr{
    background: #00aff0;
}
.footer-social-info a+a{
    margin-left: 10px;
}
